.transactionTable {
  width: 100%;
  border-collapse: collapse;
  margin: 32px;
  font-size: 14px;
  text-align: left;
}

.transactionTable thead {
  background-color: #2a2a2a;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

.transactionTable th,
.transactionTable td {
  padding: 4px 40px;
  border: 2px solid #000000;
  text-transform: capitalize;
  line-height: 1.5;
}

.transactionTable tbody tr:nth-child(even) {
  background-color: #d3d3d3;
}

.transactionTable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
